<span id="showLeftBar" class="hideInPrint">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="$i18n.getString('show_menu' )"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar">
    <!--<div ng-include="'views/left-bar.html'"></div>-->
    <d2-left-bar></d2-left-bar>
</div>

<div class="page" id="mainPage">

    <div ng-if="!model.metaDataCached">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
        {{'loading_metadata'| translate}}
    </div>

    <div ng-show="model.metaDataCached">      
        <form name="outerForm" novalidate>
            <tabset>
                <tab>
                    <tab-heading>
                        <span class="font-18 bold">
                            {{'data_entry'| translate}}
                        </span>
                    </tab-heading>
                    
                    <div class="row small-vertical-spacing">
                        <div class="col-sm-12">
                            <!-- selection begins-->
                            <div class="selectionGroup vertical-spacing">
                                <div class="col-sm-6 greenInfoArea">

                                    <div class="row small-vertical-spacing">
                                        <div class="col-sm-4">
                                            <i class="fa fa-question-circle custom-icon-size reset-color" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                                            {{'category'| translate}}                        
                                        </div>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="model.selectedDataElementGroupSet" 
                                                       theme="select2"                                 
                                                       style="width:100%;">
                                                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.dataElementGroupSets && model.dataElementGroupSets.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="dataElementGroupSet in model.dataElementGroupSets | filter: $select.search | limitTo:maxOptionSize | orderBy: 'order' ">
                                                    <span ng-bind-html="dataElementGroupSet.displayName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="row small-vertical-spacing">
                                        <div class="col-sm-4">
                                            <i class="fa fa-question-circle custom-icon-size reset-color" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                                            {{'thematic_area'| translate}}                        
                                        </div>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="model.selectedThematicArea" 
                                                       theme="select2"                                 
                                                       style="width:100%;">
                                                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.thematicAreas && model.thematicAreas.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                <ui-select-choices group-by="'category'" repeat="thematicArea in model.thematicAreas | thematicAreaFilter:model.selectedDataElementGroupSet | filter: {'displayName': $select.search, 'category': model.dataElementGroupSet.displayName} | limitTo:maxOptionSize | orderBy: ['categoryOrder', 'order']">
                                                    <span ng-bind-html="thematicArea.displayName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="row small-vertical-spacing">
                                        <div class="col-sm-4">
                                            <i class="fa fa-question-circle custom-icon-size reset-color" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                                            {{'support_type'| translate}}                        
                                        </div>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="model.selectedSupportType" 
                                                       theme="select2"                                 
                                                       style="width:100%;">
                                                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.supportTypes && model.supportTypes.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="supportType in model.supportTypes | supportTypeFilter:model.selectedDataElementGroupSet:model.selectedThematicArea | filter: $select.search | limitTo:maxOptionSize | orderBy: 'order'">
                                                    <span ng-bind-html="supportType.displayName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="row small-vertical-spacing">
                                        <div class="col-sm-4">
                                            <i class="fa fa-question-circle custom-icon-size reset-color" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                                            {{'action'| translate}}
                                        </div>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="model.selectedDataSet" 
                                                       theme="select2"                                 
                                                       style="width:100%;">
                                                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.dataSets && model.dataSets.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                <ui-select-choices group-by="'thematicArea'" repeat="dataSet in model.dataSets | actionFilter:model.selectedDataElementGroupSet:model.selectedThematicArea:model.selectedSupportType | filter: $select.search | limitTo:maxOptionSize | orderBy: ['categoryOrder', 'thematicAreaOrder', 'supportTypeOrder', 'order'] ">
                                                    <span ng-bind-html="dataSet.displayName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div ng-repeat="category in model.selectedAttributeCategoryCombo.categories" ng-if="category.displayName !== 'Agency' && model.selectedAttributeCategoryCombo && !model.selectedAttributeCategoryCombo.isDefault && !model.invalidDimensions">                
                                        <div class="row small-vertical-spacing">
                                            <div class="col-sm-4">
                                                <span ng-if="category.displayName === 'Action Instance'">
                                                    <i class="fa fa-question-circle custom-icon-size reset-color" tooltip="{{'action_instance_definition'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                                                </span>                            
                                                {{category.displayName}}
                                            </div>
                                            <div class="col-sm-8">
                                                <ui-select ng-model="category.selectedOption"                                        
                                                           theme="select2"  
                                                           on-select="getCategoryOptions(category)"
                                                           style="width:100%;">
                                                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{category.categoryOptions && category.categoryOptions.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                    <ui-select-choices  repeat="option in category.categoryOptions | filter: $select.search | limitTo:maxOptionSize">
                                                        <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 blueInfoArea add-small-left-padding">
                                    <div class="row">
                                        <div class="col-sm-4">                            
                                            {{'country'| translate}}
                                        </div>
                                        <div class="col-sm-8"> 
                                            <div class="input-group">
                                                <input type="text" 
                                                       name="foo" 
                                                       class="form-control cursor-pointer" 
                                                       placeholder="{{'please_select'| translate}}" 
                                                       title="{{'select_from_tree'| translate}}"
                                                       ng-model="selectedOrgUnit.displayName" 
                                                       ng-readonly="{{true}}" 
                                                       ng-required="true" 
                                                       ng-click="showOrgUnitTree()">
                                                <span class="input-group-btn">        
                                                    <button class="btn btn-default" type="button" title="{{'select_from_tree'| translate}}" ng-disabled="d2Disabled" ng-click="showOrgUnitTree(d2Object)"> 
                                                        <i class="fa fa-plus-square-o"></i> 
                                                    </button> 
                                                </span>
                                            </div>                        
                                        </div>
                                    </div>

                                    <div class="row small-vertical-spacing" ng-if="!model.invalidDimensions">
                                        <div class="col-sm-4">
                                            {{'inventory_year'| translate}}                        
                                        </div>
                                        <div class="col-sm-8">                            
                                            <div class="input-group">
                                                <ui-select ng-model="model.selectedPeriod" 
                                                           theme="select2"                                 
                                                           style="width:100%;">
                                                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.periods && model.periods.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                                    <ui-select-choices  repeat="period in model.periods | filter: $select.search | limitTo:maxOptionSize">
                                                        <span ng-bind-html="period.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">        
                                                    <button type="button" 
                                                            class="btn btn-default" 
                                                            ng-disabled="!model.selectedDataSet"
                                                            ng-click="getPeriods('PRV')" 
                                                            title="{{'previous_periods'| translate}}">
                                                        <i class="fa fa-backward"></i>
                                                    </button>

                                                    <button type="button" 
                                                            class="btn btn-default" 
                                                            ng-disabled="!model.selectedDataSet || periodOffset > -1" 
                                                            ng-click="getPeriods('NXT')" 
                                                            title="{{'next_periods'| translate}}">
                                                        <i class="fa fa-forward"></i>
                                                    </button>                                    
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="category in model.selectedAttributeCategoryCombo.categories" ng-if="category.displayName === 'Agency' && model.selectedAttributeCategoryCombo && !model.selectedAttributeCategoryCombo.isDefault && !model.invalidDimensions">                
                                        <div class="row small-vertical-spacing">
                                            <div class="col-sm-4">                            
                                                {{category.displayName}}
                                            </div>
                                            <div class="col-sm-8">
                                                <ui-select ng-model="category.selectedOption"                                        
                                                           theme="select2"  
                                                           on-select="getCategoryOptions(category)"
                                                           style="width:100%;">
                                                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{category.categoryOptions && category.categoryOptions.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                    <ui-select-choices  repeat="option in category.categoryOptions | filter: $select.search | limitTo:maxOptionSize">
                                                        <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- selection ends -->                            
                        </div>
                    </div>
                    
                    <div class="row" ng-if="model.selectedDataSet">
                        <div class="col-sm-12" style="margin-top: -5px;">
                            <div class="yellowInfoArea">
                                <p class="bold font-16">{{model.selectedDataSet.dataElements[0].displayName}}</p>
                                <ul class="list-group" ng-if="model.selectedDataSet.code && model.mappedOptionSets[model.selectedDataSet.code]">
                                    <li class="list-group-item" ng-repeat="option in model.mappedOptionSets[model.selectedDataSet.code].options | orderBy: 'displayName' ">
                                        {{option.displayName}}
                                    </li>            
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- form begins -->
                            <div ng-include="'components/dataentry/dataentry-form.html'"></div>
                            <!-- form ends -->
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger vertical-spacing" ng-if="model.invalidDimensions && model.selectedDataSet">
                                {{'data_set_have_invalid_dimension'| translate}}
                            </div>
                        </div>
                    </div>

                </tab>
                <tab>
                    <tab-heading>
                        <span class="font-18 bold">
                            {{'report'| translate}}
                        </span>
                    </tab-heading>

                    <div class="row selectionGroup small-vertical-spacing">

                        <!-- selection begins-->                        
                        <div class="col-sm-6 blueInfoArea add-default-padding">
                            <div class="row">
                                <div class="col-sm-4">                            
                                    {{'report_types'| translate}}
                                </div>
                                <div class="col-sm-8">
                                    <ui-select ng-model="model.selectedReport"                                        
                                               theme="select2"
                                               style="width:100%;">
                                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.reportTypes && model.reportTypes.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  repeat="rt in model.reportTypes | filter: $select.search | limitTo:maxOptionSize">
                                            <span ng-bind-html="rt.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="row small-vertical-spacing">
                                <div class="col-sm-4">                            
                                    {{'country'| translate}}
                                </div>
                                <div class="col-sm-8"> 
                                    <div class="input-group">
                                        <input type="text" 
                                               name="foo" 
                                               class="form-control cursor-pointer" 
                                               placeholder="{{'please_select'| translate}}" 
                                               title="{{'select_from_tree'| translate}}"
                                               ng-model="selectedOrgUnit.displayName" 
                                               ng-readonly="{{true}}" 
                                               ng-required="true" 
                                               ng-click="showOrgUnitTree()">
                                        <span class="input-group-btn">        
                                            <button class="btn btn-default" type="button" title="{{'select_from_tree'| translate}}" ng-disabled="d2Disabled" ng-click="showOrgUnitTree(d2Object)"> 
                                                <i class="fa fa-plus-square-o"></i> 
                                            </button> 
                                        </span>
                                    </div>                        
                                </div>
                            </div>

                            <div class="row small-vertical-spacing" ng-if="!model.invalidDimensions">
                                <div class="col-sm-4">
                                    {{'inventory_year'| translate}}                        
                                </div>
                                <div class="col-sm-8">                            
                                    <div class="input-group">
                                        <ui-select ng-model="model.selectedPeriod" 
                                                   theme="select2"                                 
                                                   style="width:100%;">
                                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.periods && model.periods.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="period in model.reportPeriods | filter: $select.search | limitTo:maxOptionSize">
                                                <span ng-bind-html="period.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">        
                                            <button type="button" 
                                                    class="btn btn-default" 
                                                    ng-disabled="!model.selectedDataSet"
                                                    ng-click="getPeriods('PRV')" 
                                                    title="{{'previous_periods'| translate}}">
                                                <i class="fa fa-backward"></i>
                                            </button>

                                            <button type="button" 
                                                    class="btn btn-default" 
                                                    ng-disabled="!model.selectedDataSet || periodOffset > -1" 
                                                    ng-click="getPeriods('NXT')" 
                                                    title="{{'next_periods'| translate}}">
                                                <i class="fa fa-forward"></i>
                                            </button>                                    
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-repeat="category in model.reportAttributeCombo.categories" ng-if="category.displayName === 'Agency' && model.reportAttributeCombo && !model.reportAttributeCombo.isDefault">
                                <div class="row small-vertical-spacing">
                                    <div class="col-sm-4">                            
                                        {{category.displayName}}
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="category.selectedOption"                                        
                                                   theme="select2"  
                                                   on-select="getCategoryOptions(category)"
                                                   style="width:100%;">
                                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{category.categoryOptions && category.categoryOptions.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="option in category.categoryOptions | filter: $select.search | limitTo:maxOptionSize">
                                                <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- selection ends -->

                        <div class="col-sm-6 div-bottom-container">
                            <div class="div-bottom">
                                <button class="btn btn-success"
                                        type="button"   
                                        ng-disabled="!reportParamsReady()"
                                        ng-click="showReport()">                                         
                                    {{'view_data_as_table'| translate}}
                                </button>
                                <label class="horizontal-spacing">
                                    <input type="checkbox" ng-disabled="!reportData.reportReady" ng-model="model.filterEmptyRows"/>  {{'filter_empty_rows'| translate}}
                                </label>
                            </div>
                        </div>


                    </div>

                    <!-- report begins -->                    
                    <div ng-if="model.selectedReport.id === 'SUMMARY_REPORT'" ng-include="'components/dataentry/reports/summary.html'"></div>
                    <div ng-if="model.selectedReport.id === 'CNA'" ng-include="'components/dataentry/reports/cna.html'"></div>
                    <div ng-if="model.selectedReport.id === 'ALIGNED_INVESTMENT'" ng-include="'components/dataentry/reports/align-invest.html'"></div>
                    <!-- report ends -->

                </tab>
            </tabset>   
        </form>

    </div>

</div>
