<span id="showLeftBar" class="hideInPrint">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="$i18n.getString('show_menu' )"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar">

    <d2-left-bar></d2-left-bar>

    <div class="yellowInfoArea">
        
    </div>

</div>


<div class="page" id="mainPage">

    <div ng-if="!model.metaDataCached">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
        {{'loading_metadata'| translate}}
    </div>

    <div ng-show="model.metaDataCached">
        <h2>
            {{'data_entry'| translate}}
        </h2>

        <!-- selection begins-->
        <div class="selectionGroup">
            <div class="col-sm-6 selectionArea">
                
                <div class="row small-vertical-spacing">
                    <div class="col-sm-4">
                        <i class="fa fa-question-circle superscript" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                        {{'category'| translate}}                        
                    </div>
                    <div class="col-sm-8">
                        <ui-select ng-model="model.selectedDataElementGroupSet" 
                                   theme="select2"                                 
                                   style="width:100%;">
                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.dataElementGroupSets && model.dataElementGroupSets.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                            <ui-select-choices repeat="dataElementGroupSet in model.dataElementGroupSets | filter: $select.search | limitTo:maxOptionSize | orderBy: 'displayName' ">
                                <span ng-bind-html="dataElementGroupSet.displayName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row small-vertical-spacing">
                    <div class="col-sm-4">
                        <i class="fa fa-question-circle superscript" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                        {{'thematic_area'| translate}}                        
                    </div>
                    <div class="col-sm-8">
                        <ui-select ng-model="model.selectedThematicArea" 
                                   theme="select2"                                 
                                   style="width:100%;">
                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.thematicAreas && model.thematicAreas.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                            <ui-select-choices repeat="thematicArea in model.thematicAreas | thematicAreaFilter:model.selectedDataElementGroupSet | filter: {'displayName': $select.search, 'category': model.dataElementGroupSet.displayName} | limitTo:maxOptionSize | orderBy: 'displayName' ">
                                <span ng-bind-html="thematicArea.displayName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row small-vertical-spacing">
                    <div class="col-sm-4">
                        <i class="fa fa-question-circle superscript" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                        {{'support_type'| translate}}                        
                    </div>
                    <div class="col-sm-8">
                        <ui-select ng-model="model.selectedSupportType" 
                                   theme="select2"                                 
                                   style="width:100%;">
                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.supportTypes && model.supportTypes.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                            <ui-select-choices repeat="supportType in model.supportTypes | supportTypeFilter:model.selectedDataElementGroupSet:model.selectedThematicArea | filter: $select.search | limitTo:maxOptionSize | orderBy: 'displayName' ">
                                <span ng-bind-html="supportType.displayName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row small-vertical-spacing">
                    <div class="col-sm-4">
                        <i class="fa fa-question-circle superscript" tooltip="{{'CAN_review_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                        {{'action'| translate}}
                    </div>
                    <div class="col-sm-8">
                        <ui-select ng-model="model.selectedDataSet" 
                                   theme="select2"                                 
                                   style="width:100%;">
                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.dataSets && model.dataSets.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                            <ui-select-choices group-by="'thematicArea'" repeat="dataSet in model.dataSets | actionFilter:model.selectedDataElementGroupSet:model.selectedThematicArea:model.selectedSupportType | filter: $select.search | limitTo:maxOptionSize | orderBy: ['supportType','displayName'] ">
                                <span ng-bind-html="dataSet.displayName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div ng-repeat="category in model.selectedAttributeCategoryCombo.categories" ng-if="category.displayName !== 'Agency' && model.selectedAttributeCategoryCombo && !model.selectedAttributeCategoryCombo.isDefault && !model.invalidDimensions">                
                    <div class="row small-vertical-spacing">
                        <div class="col-sm-4">
                            <span ng-if="category.displayName === 'Action Instance'">
                                <i class="fa fa-question-circle superscript" tooltip="{{'action_instance_definition'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                            </span>                            
                            {{category.displayName}}
                        </div>
                        <div class="col-sm-8">
                            <ui-select ng-model="category.selectedOption"                                        
                                       theme="select2"  
                                       on-select="getCategoryOptions(category)"
                                       style="width:100%;">
                                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{category.categoryOptions && category.categoryOptions.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                <ui-select-choices  repeat="option in category.categoryOptions | filter: $select.search | limitTo:maxOptionSize">
                                    <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                
                <div class="row small-vertical-spacing">
                    <div class="col-sm-4">
                        <i class="fa fa-question-circle superscript" tooltip="{{'org_unit_action_info'| translate}}" tooltip-placement="bottom" tooltip-class="custom-tooltip-class"></i>
                        {{'org_unit'| translate}}
                    </div>
                    <div class="col-sm-8">
                        <d2-org-unit-tree                                
                                id="{{prStDe.dataElement.id}}"
                                d2-multi-select="false"
                                d2-value="currentEvent[prStDe.dataElement.id]"
                                d2-object="selectedOrgUnit"
                                d2-function="saveDatavalue(prStDe, innerForm.foo)">
                        </d2-org-unit-tree>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 selectionAreaNoColor">

                <div class="blueInfoArea">
                    <div class="row" ng-if="!model.invalidDimensions">
                        <div class="col-sm-4">
                            {{'inventory_year'| translate}}                        
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-8">
                                    <ui-select ng-model="model.selectedPeriod" 
                                               theme="select2"                                 
                                               style="width:100%;">
                                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.periods && model.periods.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  repeat="period in model.periods | filter: $select.search | limitTo:maxOptionSize">
                                            <span ng-bind-html="period.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="pull-right">                                    
                                        <button type="button" 
                                                class="btn btn-default" 
                                                ng-click="getPeriods('PRV')" 
                                                title="{{'previous_periods'| translate}}">
                                            <i class="fa fa-caret-left"></i>
                                            <!--{{'prev'| translate}}-->
                                        </button>

                                        <button type="button" 
                                                class="btn btn-default" 
                                                ng-disabled="periodOffset > -1" 
                                                ng-click="getPeriods('NXT')" 
                                                title="{{'next_periods'| translate}}">
                                            <i class="fa fa-caret-right"></i>
                                            <!--{{'next'| translate}}-->
                                        </button>                                    
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="category in model.selectedAttributeCategoryCombo.categories" ng-if="category.displayName === 'Agency' && model.selectedAttributeCategoryCombo && !model.selectedAttributeCategoryCombo.isDefault && !model.invalidDimensions">                
                        <div class="row small-vertical-spacing">
                            <div class="col-sm-4">                            
                                {{category.displayName}}
                            </div>
                            <div class="col-sm-8">
                                <ui-select ng-model="category.selectedOption"                                        
                                           theme="select2"  
                                           on-select="getCategoryOptions(category)"
                                           style="width:100%;">
                                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{category.categoryOptions && category.categoryOptions.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                    <ui-select-choices  repeat="option in category.categoryOptions | filter: $select.search | limitTo:maxOptionSize">
                                        <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="yellowInfoArea">
                    <p class='bold font-16'>
                        <a href=""><span class="black underline">{{'click_here'| translate}}</span></a>  {{'to_view_full_compendium'| translate}}
                    </p>
                    <p class="font-14">{{'view_list_of_actions_each'| translate}}</p>
                    <div class="row">
                        <div class="center-block">
                            <div class="col-sm-2 cursor-pointer" ng-click="showNutritionActions()">
                                <div class="thumbnail">
                                    <img src="images/food_agr_health_diets.png" alt="{{'food_agr_health_diets'| translate}}" class="align-center img-responsive">
                                </div>
                                <div class="caption pull-center">
                                    <p>{{'food_agr_health_diets'| translate}}</p>
                                </div>
                            </div>
                            <div class="col-sm-2 cursor-pointer" ng-click="showNutritionActions()">
                                <div class="thumbnail">
                                    <img src="images/maternal_child_care.png" alt="{{'maternal_child_care'| translate}}" class="align-center img-responsive">
                                </div>
                                <div class="caption pull-center">
                                    <p>{{'maternal_child_care'| translate}}</p>
                                </div>
                            </div>
                            <div class="col-sm-2 cursor-pointer" ng-click="showNutritionActions()">
                                <div class="thumbnail">
                                    <img src="images/health.png" alt="{{'health'| translate}}" class="align-center img-responsive">
                                </div>
                                <div class="caption pull-center">
                                    <p>{{'health'| translate}}</p>
                                </div>
                            </div>
                            <div class="col-sm-2 cursor-pointer" ng-click="showNutritionActions()">
                                <div class="thumbnail">
                                    <img src="images/social_protection.png" alt="{{'social_protection'| translate}}" class="align-center img-responsive">
                                </div>
                                <div class="caption pull-center">
                                    <p>{{'social_protection'| translate}}</p>
                                </div>
                            </div>
                            <div class="col-sm-2 cursor-pointer" ng-click="showNutritionActions()">
                                <div class="thumbnail">
                                    <img src="images/multi_sectoral_governance.png" alt="{{'multi_sectoral_governance'| translate}}" class="align-center img-responsive">
                                </div>
                                <div class="caption pull-center">
                                    <p>{{'multi_sectoral_governance'| translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>            
        </div>
        <!-- selection ends -->        

        <div class="alert alert-danger vertical-spacing" ng-if="model.invalidDimensions && model.selectedDataSet">
            {{'data_set_have_invalid_dimension'| translate}}
        </div>

        <!-- form begins -->
        <div ng-include="'components/dataentry/dataentry-form.html'"></div>
        <!-- form ends -->

    </div>

</div>