<div class="vertical-spacing" ng-if="model.selectedDataSet && model.selectedPeriod && model.categoryOptionsReady">
    
    <div class="remove-left-padding">
        <div class="col-sm-8" ng-repeat="de in model.selectedDataSet.dataElements">
            <div class="alert alert-info">
                {{de.displayName}}
            </div>

            <table class="table table-bordered">
                <tr ng-repeat="categoryOptionGroup in model.categoryOptionGroups | orderBy: 'order'" 
                    ng-init="ocos = (model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: {categoryOptionGroup: {id: categoryOptionGroup.id}})">
                    <td>
                        {{categoryOptionGroup.name}}
                    </td>
                    <td>
                        <span ng-if="categoryOptionGroup.dimensionEntryMode === 'SINGLE'">
                            <ui-select ng-model="dataValues[de.id][categoryOptionGroup.id]" 
                                    theme="select2"                                 
                                    style="width:100%;">
                                <ui-select-match allow-clear="true" class="form-control-ui-select" ng-class="getInputNotifcationClass(de.id, $select.selected.id)" placeholder="{{model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos && model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName || $select.selected}}</ui-select-match>
                                <ui-select-choices repeat="oco in ocos | filter: $select.search | limitTo:maxOptionSize">
                                    <span ng-bind-html="oco.displayName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </span>
                        <span ng-if="categoryOptionGroup.dimensionEntryMode === 'MULTIPLE'">
                            <ui-select multiple
                                    ng-model="dataValues[de.id][categoryOptionGroup.id]" 
                                    theme="bootstrap">
                                <ui-select-match allow-clear="true" ng-class="getInputNotifcationClass1(de.id)" placeholder="{{model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos && model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$item.displayName}}</ui-select-match>
                                <ui-select-choices repeat="oco in ocos | filter: $select.search | limitTo:maxOptionSize">
                                    <span ng-bind-html="oco.displayName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </span>                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>