<!DOCTYPE HTML>
<html>
<head>
	<title>DHIS 2</title>
	<style>
	*
	{
		font-family: tahoma, sans-serif;
	}

	p
	{
		font-size: 10pt;
	}
	</style>
    <script>
        function clearJsession()
        {
            console.log('clearing session....');            
            document.cookie = 'JSESSIONID' + '=' + "" + "";
            window.location.href = "../dhis-web-commons/security/login.action";
        }
    </script>
</head>
<body>

## -------------------------------------------------------------------------- ##

<h2>$i18n.getString( "access_denied" )</h2>

<p>$encoder.htmlEncode( $i18n.getString( "access_denied_message" ) )</p>

<p><input type="button" value="$encoder.htmlEncode( $i18n.getString( "go_back" ) )" onclick="clearJsession()"></p>

## -------------------------------------------------------------------------- ##

</body>
</html>
