<div id="hideLeftBar">
    <a href="index.action" title="{{'show_main_menu'| translate}}" id="showMainMenuLink"><i class="fa fa-home leftBarIcon"></i></a>
    <a href="javascript:dhis2.leftBar.hideAnimated()" title="{{'hide_menu'| translate}}" id="hideMainMenuLink"><i class="fa fa-arrow-left leftBarIcon"></i></a>
    <a href="javascript:dhis2.leftBar.extendAnimated()" title="{{'extend_menu'| translate}}" id="extendMainMenuLink"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</div>
<div class="leftBarArea yellowInfoArea">
    <div ng-if="model.selectedDataSet">
        <p class="bold font-16">{{model.selectedDataSet.dataElements[0].displayName}}</p>
        <ul class="list-group" ng-if="model.selectedDataSet.code && model.mappedOptionSets[model.selectedDataSet.code]">
            <li class="list-group-item" ng-repeat="option in model.mappedOptionSets[model.selectedDataSet.code].options | orderBy: 'displayName' ">
                {{option.displayName}}
            </li>            
        </ul>
    </div>    
</div>