<div id="hideLeftBar">
    <a href="index.action" title="{{'show_main_menu'| translate}}" id="showMainMenuLink"><i class="fa fa-home leftBarIcon"></i></a>
    <a href="javascript:dhis2.leftBar.hideAnimated()" title="{{'hide_menu'| translate}}" id="hideMainMenuLink"><i class="fa fa-arrow-left leftBarIcon"></i></a>
    <a href="javascript:dhis2.leftBar.extendAnimated()" title="{{'extend_menu'| translate}}" id="extendMainMenuLink"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</div>

<div class="yellowInfoArea left-bar-margin">
    
    <p class="bold">
        {{'can_title' | translate}}
    </p>
    <p>
        {{'can_sub_title' | translate}}
    </p>
    <p class="italic">
        <span class="bold">{{'click' | translate}} <a href=""><span class="black underline">{{'here'| translate}}</span></a>  {{'view_full_can_doc'| translate}}</span>
        <span> {{'view_each_can_doc' | translate}}</span>
    </p>
    <ul class="list-group">
        <li>
            <div class="can-1-container cursor-pointer" ng-click="showNutritionActions()">
                <div class="thumbnail1">
                    <img src="images/food_agriculture_and_healthy_diets.png" alt="{{'food_agriculture_and_healthy_diets'| translate}}" class="align-center img-responsive">
                </div>
                <div class="bold caption pull-center small-vertical-spacing">
                    {{'food_agriculture_and_healthy_diets'| translate}}
                </div>
            </div>
        </li>
        <li>
            <div class="can-2-container cursor-pointer" ng-click="showNutritionActions()">
                <div class="thumbnail1">
                    <img src="images/maternal_and_child_care.png" alt="{{'maternal_and_child_care'| translate}}" class="align-center img-responsive">
                </div>
                <div class="bold caption pull-center small-vertical-spacing">
                    <p>{{'maternal_and_child_care'| translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="can-3-container cursor-pointer" ng-click="showNutritionActions()">
                <div class="thumbnail1">
                    <img src="images/health.png" alt="{{'health'| translate}}" class="align-center img-responsive">
                </div>
                <div class="bold caption pull-center small-vertical-spacing">
                    <p>{{'health'| translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="can-4-container cursor-pointer" ng-click="showNutritionActions()">
                <div class="thumbnail1">
                    <img src="images/social_protection.png" alt="{{'social_protection'| translate}}" class="align-center img-responsive">
                </div>
                <div class="bold caption pull-center small-vertical-spacing">
                    <p>{{'social_protection'| translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="can-5-container cursor-pointer" ng-click="showNutritionActions()">
                <div class="thumbnail1">
                    <img src="images/facilitation_of_multisectoral_nutrition_governance.png" alt="{{'facilitation_of_multisectoral_nutrition_governance'| translate}}" class="align-center img-responsive">
                </div>
                <div class="bold caption pull-center small-vertical-spacing">
                    <p>{{'facilitation_of_multisectoral_nutrition_governance'| translate}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>