<div class="vertical-spacing" ng-if="model.selectedDataSet && model.selectedPeriod && model.categoryOptionsReady">

    <div class="remove-left-padding">
        <div class="col-sm-12" equal-height-nav-tabs>
            
            <form name="outerForm" novalidate>
                <tabset justified="true">
                    <tab heading="{{dataElementGroupSet.name}}" class="bold" ng-repeat="dataElementGroupSet in model.dataElementGroupSets" ng-click="setCurrentDataElementGroupSet( dataElementGroupSet )" active="dataElementGroupSet.active">
                        <div class="row vertical-spacing">
                            <div class="col-sm-12">
                                <div class="list-group col-sm-3">
                                    <a ng-repeat="dataElementGroup in dataElementGroupSet.dataElementGroups" class="list-group-item cursor-pointer" ng-class="{true: 'active'} [dataElementGroup.id === currentDataElementGroup.id]" ng-click="setCurrentDataElementGroup(dataElementGroup)">
                                        {{dataElementGroup.name}}
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <div ng-if="currentDataElementGroup && currentDataElementGroup.id && !isHidden(de, currentDataElementGroup)" ng-repeat="de in model.selectedDataSet.dataElements | orderBy: 'order' | filter: {dataElementGroup: {id: currentDataElementGroup.id}, dataElementGroupSet: {id: dataElementGroupSet.id}}">

                                        <table class="table table-bordered table-condensed" ng-if="de.dimensionAsMultiOptionSet || de.dimensionAsOptionSet || model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length === 1">
                                            <tr ng-if="!de.dimensionAsOptionSet && !de.dimensionAsMultiOptionSet && model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 1">
                                                <th>                                                
                                                </th>
                                                <th ng-repeat="oco in model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos">
                                                    {{oco.displayName}}
                                                </th>
                                            </tr>
                                            <tr>                                          
                                                <td ng-class="getMainQuestionTableStyle(de)">
                                                    {{de.displayName}}<span class="required">*</span>
                                                </td>
                                                <td>
                                                    <div ng-if="!de.dimensionAsOptionSet && !de.dimensionAsMultiOptionSet" ng-init="oco = model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos[0]">                                                        
                                                        <span ng-if="de.valueType === 'TEXT' || de.valueType === 'LONG_TEXT'">
                                                            <textarea rows="3"  
                                                                   ng-model="dataValues[de.id][oco.id].value"
                                                                   class="form-control" 
                                                                   ng-class="getInputNotifcationClass(de.id, oco.id)"
                                                                   ng-dblclick="getAuditInfo(de, oco)"
                                                                   d2-blur="saveDataValue(de.id, oco.id)">
                                                            </textarea>
                                                        </span>
                                                        <span ng-if="de.valueType === 'NUMBER'">
                                                            <input type="number"   
                                                                   ng-model="dataValues[de.id][oco.id].value"
                                                                   class="form-control" 
                                                                   ng-class="getInputNotifcationClass(de.id, oco.id)"
                                                                   ng-dblclick="getAuditInfo(de, oco)"
                                                                   d2-blur="saveDataValue(de.id, oco.id, false)">
                                                        </span>
                                                    </div>
                                                    <div ng-if="de.dimensionAsOptionSet">
                                                        <ui-select ng-model="dataValues[de.id]" 
                                                                   on-select="saveDataValue(de.id, $select.selected.id, true)"
                                                                   on-remove="saveDataValue(de.id, $select.selected.id, true)"
                                                                   theme="select2"                                 
                                                                   style="width:100%;">
                                                            <ui-select-match allow-clear="true" class="form-control-ui-select" ng-class="getInputNotifcationClass(de.id, $select.selected.id)" placeholder="{{model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos && model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName || $select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="oco in model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: $select.search | limitTo:maxOptionSize">
                                                                <span ng-bind-html="oco.displayName | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div ng-if="de.dimensionAsMultiOptionSet">
                                                        <ui-select multiple
                                                                   ng-model="dataValues[de.id]" 
                                                                   on-select="saveDataValue(de.id, $select.selected.id, true)"
                                                                   on-remove="saveDataValue(de.id, $select.selected.id, true)"
                                                                   theme="bootstrap">
                                                            <ui-select-match allow-clear="true" ng-class="getInputNotifcationClass1(de.id)" placeholder="{{model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos && model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$item.displayName}}</ui-select-match>
                                                            <ui-select-choices repeat="oco in model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: $select.search | limitTo:maxOptionSize">
                                                                <span ng-bind-html="oco.displayName | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>                                                    
                                                </td>                                                
                                            </tr>                                        
                                        </table>

                                        <table class="table table-bordered table-condensed" ng-class="getMainQuestionTableStyle(de)" ng-if="!de.dimensionAsMultiOptionSet && !de.dimensionAsOptionSet && model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 1 ">
                                            <tr>
                                                <td colspan="{{model.mappedCategoryCombos[de.categoryCombo.id].categories.length}}">
                                                </td>
                                                <td ng-class="getMainQuestionTableStyle(de)">
                                                    {{de.displayName}}<span class="required">*</span>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="oco in model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos" ng-init="mainIndex = $index">
                                                <td ng-repeat="optionName in oco.displayName.split(',')"                                                  
                                                    rowspan="{{getRowSpan(model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos, optionName)}}"
                                                    ng-if="$index === 0 && (mainIndex % getRowSpan(model.mappedCategoryCombos[de.categoryCombo.id].categoryOptionCombos, optionName) === 0)">
                                                    {{optionName}}
                                                </td>
                                                <td ng-repeat="optionName in oco.displayName.split(',')" ng-if="$index !== 0">
                                                    {{optionName}}
                                                </td>
                                                <td>
                                                    <span ng-if="de.valueType === 'TEXT' || de.valueType === 'LONG_TEXT'">
                                                        <textarea rows="3"  
                                                               ng-model="dataValues[de.id][oco.id].value"
                                                               class="form-control" 
                                                               ng-class="getInputNotifcationClass(de.id, oco.id)"
                                                               ng-dblclick="getAuditInfo(de, oco)"
                                                               d2-blur="saveDataValue(de.id, oco.id)">
                                                        </textarea>
                                                    </span>
                                                    <span ng-if="de.valueType === 'NUMBER'">
                                                        <input type="number"   
                                                               ng-model="dataValues[de.id][oco.id].value"
                                                               class="form-control" 
                                                               ng-class="getInputNotifcationClass(de.id, oco.id)"
                                                               ng-dblclick="getAuditInfo(de, oco)"
                                                               d2-blur="saveDataValue(de.id, oco.id, false)">
                                                    </span>
                                                </td>
                                            </tr>                                       
                                        </table>
                                    </div>                                    
                                </div>
                            </div>                        
                        </div>
                    </tab>                    
                </tabset>
            </form>
            
        </div>
    </div>

    <hr>

    <div class="clear vertical-spacing">
        <div class="col-sm-6 selectionArea vertical-spacing">
            <button type="button" 
                    class="btn btn-primary" 
                    ng-disabled="dataSetCompletness[model.selectedAttributeOptionCombo]" 
                    ng-click="saveCompletness()">
                {{'save_completeness'| translate}}
            </button>
            <button type="button" 
                    class="btn btn-danger small-horizontal-spacing" 
                    ng-disabled="!dataSetCompletness[model.selectedAttributeOptionCombo]" 
                    ng-click="deleteCompletness()">
                {{'delete_completeness'| translate}}
            </button>
        </div>
    </div>

</div>