<div class="vertical-spacing" ng-if="model.selectedDataSet && model.selectedPeriod && model.categoryOptionsReady">

    <div class="remove-left-padding">
        <div class="col-sm-12 ">
            <tabset justified="true">
                <tab heading="{{dataElementGroupSet.name}}" class="bold" ng-repeat="dataElementGroupSet in model.dataElementGroupSets">
                    <div class="row vertical-spacing">
                        <div class="col-sm-12">
                            <div class="list-group col-sm-3">
                                <a ng-repeat="dataElementGroup in dataElementGroupSet.dataElementGroups" class="list-group-item cursor-pointer" ng-class="{true: 'active'} [dataElementGroup.id === currentDataElementGroup.id]" ng-click="setCurrentDataElementGroup(dataElementGroup)">
                                    {{dataElementGroup.name}}
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <div ng-if="currentDataElementGroup && currentDataElementGroup.id" ng-repeat="de in model.selectedDataSet.dataElements | orderBy: 'order' | filter: {dataElementGroup: currentDataElementGroup.name, dataElementGroupSet: dataElementGroupSet.name}">

                                    <table class="table table-bordered table-condensed" ng-if="de.dimensionAsOptionSet">                                        
                                        <tr>
                                            <td>
                                                {{de.displayName}} - {{de.valueType}}
                                            </td>                                            
                                            <td>
                                                <ui-select ng-model="dataValues[de.id]" 
                                                           on-select="saveDataValue(de.id, oco.id)"
                                                           on-remove="saveDataValue(de.id, oco.id, true)"
                                                           theme="select2"                                 
                                                           style="width:100%;">
                                                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos && model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="oco in model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: $select.search | limitTo:maxOptionSize">
                                                        <span ng-bind-html="oco.displayName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>                                                
                                            </td>
                                        </tr>                                        
                                    </table>
                                    
                                    <table class="table table-bordered table-condensed" ng-if="!de.dimensionAsOptionSet && model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 1">
                                        <tr>
                                            <th>
                                            </th>
                                            <th ng-repeat="oco in model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: $select.search | limitTo:maxOptionSize">
                                                {{oco.displayName}}
                                            </th>                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                {{de.displayName}} -  {{de.valueType}}
                                            </td>                    
                                            <td ng-repeat="oco in model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: $select.search | limitTo:maxOptionSize">                                                
                                                    <input type="text"   
                                                           ng-model="dataValues[de.id][oco.id]"
                                                           class="form-control pull-center" 
                                                           ng-class="getInputNotifcationClass(de.id, oco.id)"
                                                           ng-dblclick="getAuditInfo(de, ou, oco, model.dataValues[ou][dataElement.id][oco.id].value, model.dataValues[ou][dataElement.id][oco.id].comment)"
                                                           d2-blur="saveDataValue(de.id, oco.id)">
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <table class="table table-bordered table-condensed" ng-if="!de.dimensionAsOptionSet && model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length === 1">
                                        <tr>
                                            <td>
                                                {{de.displayName}} - {{de.valueType}}
                                            </td>                    
                                            <td> 
                                                <input type="text"   
                                                       ng-model="dataValues[de.id][oco.id]"
                                                       class="form-control pull-center" 
                                                       ng-class="getInputNotifcationClass(de.id, oco.id)"
                                                       ng-dblclick="getAuditInfo(de, ou, oco, model.dataValues[ou][dataElement.id][oco.id].value, model.dataValues[ou][dataElement.id][oco.id].comment)"
                                                       d2-blur="saveDataValue(de.id, oco.id)">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-if="!currentDataElementGroup || !currentDataElementGroup.id">
                                    <div class="alert alert-warning">
                                        {{'please_select_left'| translate}}
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </tab>                    
            </tabset>
        </div>
    </div>
    <!--<div class="remove-left-padding">
        <div class="col-sm-12">
            <table class="table table-bordered table-condensed vertical-spacing">
                <tr ng-repeat="de in model.selectedDataSet.dataElements">
                    <td>
                        {{de.displayName}}
                    </td>                    
                    <td>                        
                        <span ng-if="!de.dimensionAsOptionSet">
                            <input type="text"   
                                   ng-model="dataValues[de.id][oco.id]"
                                   class="form-control pull-center" 
                                   ng-class="getInputNotifcationClass(de.id, oco.id)"
                                   ng-dblclick="getAuditInfo(de, ou, oco, model.dataValues[ou][dataElement.id][oco.id].value, model.dataValues[ou][dataElement.id][oco.id].comment)"
                                   d2-blur="saveDataValue(de.id, oco.id)">
                        </span>
                        <span ng-if="de.dimensionAsOptionSet">
                            <ui-select ng-model="dataValues[de.id]" 
                                       on-select="saveDataValue(de.id, oco.id)"
                                       on-remove="saveDataValue(de.id, oco.id, true)"
                                       theme="select2"                                 
                                       style="width:100%;">
                                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos && model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                <ui-select-choices repeat="oco in model.selectedCategoryCombos[de.categoryCombo.id].categoryOptionCombos | filter: $select.search | limitTo:maxOptionSize">
                                    <span ng-bind-html="oco.displayName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </span>
                    </td>
                </tr>                                            
            </table>
        </div>
    </div>-->

    <hr>


    <div class="clear vertical-spacing">
        <div class="col-sm-6 selectionArea vertical-spacing">
            <button type="button" 
                    class="btn btn-primary" 
                    ng-disabled="model.dataSetCompleted" 
                    ng-click="saveCompletness(selectedOrgUnit.id, model.allowMultiOrgUnitEntry)">
                {{'save_completeness'| translate}}
            </button>
            <button type="button" 
                    class="btn btn-danger small-horizontal-spacing" 
                    ng-disabled="!model.dataSetCompleted" 
                    ng-click="deleteCompletness(selectedOrgUnit.id, model.allowMultiOrgUnitEntry)">
                {{'delete_completeness'| translate}}
            </button>
        </div>
    </div>

</div>