<div class="modal-header page">
    <h2>{{'required_fields_list'| translate}}</h2>
</div>
<div class="modal-body">

    <div class="scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="active">
                        {{'outcome' | translate}}
                    </th>
                    <th class="active">
                        {{'output' | translate}}
                    </th>
                    <th class="active">
                        {{'question' | translate}}
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="row in invalidDataElements">
                <td ng-repeat="col in row" rowspan="{{col.span}}">
                    {{ col.val}}
                </td>
            </tr>
        </table>
        <table class="table table-bordered vertical-spacing" ng-if="annex.length > 0">
            <tr ng-repeat="anx in annex">
                <td>
                    {{anx.dataElementGroup.name}}
                </td>
                <td>
                    {{anx.displayName}}
                </td>
            </tr>
        </table>
    </div>

</div>
<div class="modal-footer">    
    <button class="btn btn-default" ng-click="close()">{{'close'| translate}}</button>    
</div>