<div class="input-group">
    <input type="text" name="foo" class="form-control cursor-pointer" placeholder="{{'please_select' | translate}}" ng-model="d2Object.displayName" ng-readonly="{{true}}" ng-required="{{d2Required}}" ng-click="showOrgUnitTree(d2Object)"> 
    <span class="input-group-btn">        
        <button class="btn btn-default hideInPrint trim" type="button" title="{{'select_from_tree' | translate}}" ng-disabled="d2Disabled" ng-click="showOrgUnitTree(d2Object)"> 
            <i class="fa fa-plus-square-o"></i> 
        </button> 
    </span>
</div>